/* MonoSpace inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Manrope:wght@300;500&family=Space+Grotesk:wght@300;400;500&display=swap");
/*  Serif */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Lora:wght@400;500;700&family=Manrope:wght@300;500&family=Space+Grotesk:wght@300;400;500&display=swap");
/* Sans serif */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Inter:wght@300;500;700&family=Lora:wght@400;500;700&family=Manrope:wght@300;500&family=Space+Grotesk:wght@300;400;500&display=swap");

/* font Families ends */

html {
  font-size: 62.5%;
}

.App {
  --color-primary: #fff;
  --color-primary-lightest: #1f1f1f;
  --color-primary-lighter: #2d2d2d;
  --color-primary-light: #3a3a3a;
  --color-purple: #a445ed;
  --color-red: #ff5252;
  --color-input: #f4f4f4;
  --color-font: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-primary);
  max-width: 40rem;
  margin: 2rem auto;
}
.sanSerif {
  font-family: "Inter", sans-serif;
}
.mono {
  font-family: "Inconsolata", monospace;
}
.serif {
  font-family: "Lora", serif;
}
.arrow {
  border: solid var(--color-purple);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.navbar {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
  position: relative;
}
.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 55%;
  position: relative;
}

.darkmode {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.select {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}
hr {
  height: 1.5rem;
}
.options {
  position: absolute;
  list-style: none;
  padding: 2rem 1rem;
  top: 100%;
  left: -30%;
  width: 12rem;
  z-index: 10;
  border-radius: 16px;
  background: var(--color-primary);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.options li {
  display: block;
  padding: 0.5rem 0;
  text-transform: capitalize;
}
.options li:nth-child(1) {
  font-family: "Inconsolata", monospace;
}
.options li:nth-child(2) {
  font-family: "Lora", serif;
}
.options li:nth-child(3) {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}
.options li:hover {
  color: var(--color-purple);
}
/* Form */
.form {
  margin: 3rem;
}
.form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form div button {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}
.form input {
  flex: 1;
  background-color: var(--color-input);
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.form input::placeholder {
  opacity: 0.25;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
}
.form p {
  color: var(--color-red);
}

.onactive {
  border: 1px solid var(--color-purple) !important;
}
.errorBorder {
  border: 1px solid var(--color-red) !important;
}
.form svg {
  margin-left: -2rem;
}
.dictionary {
  margin: 3rem;
}
.message__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message__heading ul {
  list-style: none;
}
.message__heading ul li:first-child {
  font-size: 4rem;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 1rem 0;
}
.message__heading ul li:last-child {
  color: var(--color-purple);
}
.message__type {
  display: grid;
  margin: 0.5rem 0;
  grid-template-columns: 5rem auto;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
}
.message__type hr {
  height: 2px;
  border: none;
  background-color: #e9e9e9;
}
.meaning {
  display: block;
  color: #757575;

  line-height: 24px; /* 133.333% */
}
.meaning p {
  font-size: 1.3rem;
  color: #757575;
  text-transform: capitalize;
  margin: 0.5rem 0;
}
.meaning ul {
  list-style: none;
  margin-left: 1.5rem;
  color: var(--color-primary-lighter);
}
.meaning ul li::before {
  content: "\2022";
  color: var(--color-purple);
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.synomyms {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-start;
  gap: 2rem;
  font-size: 1.5rem;
}
.synonym {
  color: var(--color-purple);
  flex: 1;
  text-align: left;
}
.synonym span {
  padding: 0 4px;
  text-transform: capitalize;
}
/* Error Section  */
.errorMessage {
  text-align: center;
  padding: 4rem;
}
.errorMessage h2 {
  font-size: 3rem;
  padding: 1rem 0;
}
.errorMessage h3 {
  font-style: normal;
  font-weight: 700;
  padding: 1rem 0;
  line-height: normal;
}
.errorMessage p {
  color: var(--color-font);
}
/* Loader spinning  */
.loader {
  margin: 10rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-primary-light);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* Loader spinner ends  */
/* media queries */
@media (min-width: 500px) {
  html {
    font-size: 80%;
  }
  .navIcons {
    flex: 0 50%;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 100%;
  }
  .navIcons {
    flex: 0 40%;
  }
  .form {
    margin: 1.5rem;
  }
  .dictionary {
    margin: 1.5rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 120%;
  }
  .navIcons {
    flex: 0 30%;
  }
}
.playAudio {
  z-index: -19;
}
